.home-slider
    margin-bottom 80px
    padding-left 0px
    padding-right 0px
    .active img
        background-attachment: scroll !important;
        transform-origin: 50% 80%;
        animation: imageZoom linear 50s;
        animation-iteration-count: infinite;
    position relative
    overflow hidden
    .owl-buttons
        position absolute
        top 50%
        left 15px
        right 15px
        margin-top -40px
    .owl-prev
        float left
    .owl-next
        float right
        transform rotate(180deg)
    .owl-prev,
    .owl-next
        font-size 0
        width: 65px;
        height: 80px;
        position relative
        &:before
            content ''
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            margin auto
            sprite($s-arrow-home-slider)
    .owl-pagination
        position absolute
        bottom 17px
        left 0
        right 0
        text-align center
        font-size 0
    .owl-page
        width 18px
        height 18px
        background rgba(255,255,255, .6)
        display inline-block
        vertical-align top
        border-radius 50%
        margin 0 4px
        transition .3s
        &:hover
            background rgba(255,255,255, .7)
        &.active
            background #fff
    .owl-item .active
        z-index 50

@keyframes imageZoom
    0% { transform: scale(1); }
    50% { transform: scale(1.24); }
    100% { transform: scale(1);}
