.search__form
	margin 10px 0 45px
	&._type_header		
		margin 28px 0 -29px

.search__field
	margin-right 30px
	padding 8px
	width 630px
	font-size 17px
	border 1px solid #ccc	
	outline 0
	transition .3s
	&._type_header
		margin-right 0
		padding 8px 8px 8px 13px
		width 427px
	&:focus
		border-color #989898
	
.search__form-submit
	color #fff
	background #ff5d5e
	border none
	padding 8px 30px
	font-size: 18px
	outline 0
	transition .3s
	cursor pointer
	text-align center
	&:hover 
		background #e84243
	&._type_header
		position absolute		
		top 35px
		right 6px
		padding 0
		width 21px 
		height 21px
		background-color rgba(0, 0, 0, 0)
		sprite ($s-search)

.search__results
	.wallpapers__info_top
		position absolute
		top 0
		left 0
		right 0
		text-align center
		color #FFF
		font-size 40px		
		font-family: 'Lobster', cursive
		min-height: 90px
		padding 15px 5px		

.search__results
	.wallpapers__item
		display inline-block
		vertical-align top
		font-size 16px
		margin-bottom 60px
		position relative
		width 280px
		color #FFF
		min-height 280px
		background-color #f4f4f4
		img
			display block
			width auto
		&:not(:nth-of-type(3n))
			margin-right 0
		&:not(:nth-of-type(4n))
			margin-right 2.22%
		&:hover
			.wallpapers__info
				min-height 80px
				
.search__results
	.wallpapers__info
		min-width 280px
		min-height 70px		

.search__results
	.wallpapers__title
		font-size 16px